html {
    scroll-behavior: smooth;
}

body {
    background-color: #181818;
    background-attachment: fixed;
    overflow-x: hidden;
}

.nav-link {
    font-size: 11px;
    font-weight: 600;
    color: #c4c4c4; /* Gris APCA */
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
}

.nav-link:hover {
    color: #4ef3a1;
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: #181818;
}
::-webkit-scrollbar-thumb {
    background: #2a2a2a;
}
::-webkit-scrollbar-thumb:hover {
    background: #4ef3a1;
}

@media (min-width: 768px) {
    .group:hover span:first-child {
        padding-left: 16px;
    }
}
